body {
    margin: 0;
    font-family: sans-serif;

}
.pos-side{
    position: relative;
    left:2px;

}
/* icon color of profile */
.icon{color:black;}


.happy{background-image: url(../pics/pandda.jpg);
       background-repeat: no-repeat;
       background-attachment: scroll;
       background-position: bottom;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       background-size: cover;
       -o-background-size: cover;
       width: 200px;
       min-height:300px;
       max-height: 400px;}

.prof {
    background-image: url(../pics/pandda.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height:400px;
    max-height: 500px;
}

.centertext {
    text-align: center;}

.header {
    background-image: url(https://images.unsplash.com/photo-1513348948756-10ae41beac98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height:200px;;
}



.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white; 
    /* Background styles */
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../../static/img/tim-foster-CEoJe2ppaoo-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;}
.hero h1 {
    /* Text styles */
    font-size: 5em;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
    color: lightgoldenrodyellow;
}
.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;

    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    /* Background styles */
    background-color: rgba(45, 172, 20, 0.8);
}
/* laathos */
.key-position{
    position: relative ; float: center; 
}

table{
    /* font-family:'Calibri'; */
    /* font-size:15px; */
    background-color:#fff;
    /* color:#333; */
}
.modal-header{
    background-color:#333;
    color:#fff;
}

/* FROM HERE 
.footk {
    display: flex;
    align-items: center;
    justify-content: center;
  }


    
    
  }
  h1 {
    background-color: black;
    color: lightgoldenrodyellow;
  }

 TO HERE */








.row{margin:0px!important;}

/*2-START DIVIDE THE TWO COLUMNS *//*ΦΤΙΑΧΝΟΥΜΕ 2 ΚΟΛΩΝΕΣ,Η ΜΙΑ ΜΕ 70% WIDTH ΚΑΙ Η ΑΛΛΗ ΜΕ 70% */
.left_content{display: block;float: left;width: 30%;text-align:center;padding-left:10px;margin-top:10px;}
.right_content{padding-left:0!important;display: block; float: right;width: 70%;margin-top:10px;}

/*Καποια μικροπραματα για οταν ειμαστε σε Tablet ή Mobile*/
@media only screen and (max-width: 990px) {
    .left_content{ padding-top: 0px;overflow:hidden;}
    .right_content{padding-left:0!important;}
    .btn{font-size:12px!important;}/*GIA NA KATHETE KALA STO DESIGN TO FILTER BAR STA ARISTERA*/
    h3{font-size:inherit!important;}  
}
/*END DIVIDE THE TWO COLUMNS */



@media only screen and (min-width: 990px) {
    .product_image{height:300px;width:100%;object-fit: contain;}
}

@media only screen and (min-width: 790px) {
    .card-deck .card img{    height:250px;
                             width: 100%;
                             object-fit: cover;}   
}
@media only screen and (max-width: 790px) {
    .card-deck .card img{    
        height:150px;
        width: 100%;
        object-fit: cover;
    }   
}

/* position side of pandas */
.poside{margin-bottom:20px;margin-top:10px;width:100%;}


/* FIXES AT PRODUCT DISPLAY*/
.list-group{text-align:center;}
.card-body{text-align: center;}
.card-footer{text-align:center;}

footer {
    height: 150px;
    width: 100%;
    margin-top: 40px;
}
.ran {
    flex-grow: unset;
    background-color: rgb(219, 219, 130);
    color: rgb(6, 8, 6);
}



/*
I've added this style for the tables
- George

*/
.order-sub th {
    border: 0;
}

.order-sub, .order-sub table {
    background: #eee;
}

.footer-style{
    height: 200px;
    background-color: rgb(219, 219, 130);
    padding-top: 20px;

}

.hov i {
    transition: all .3s;
}

.hov i:hover {
    color: black;
    transform: scale(1.4); 
}

/*
.card {
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
}

.card img {
    transition: all 0.5s ease;
}

.card:hover img{
    transform: scale(1.1);
}*/